html,body{
  padding:0 0 0 0;
  height:100%;
}
*{
  margin: 0;
}
#main{
  font-family: 'Roboto', sans-serif;
  color:#272727;
  min-height: 100%;
  height: auto !important;
  height:100%;
  margin: 0 auto -4em;
  padding: 0 0 0 0;
}
header{
  padding-top:20px;
  width:650px;
  height:60px;
  margin:0 auto 40px auto;
  display:block;
}

header h1{
  display:inline;
  width:300px;
}
header h1 span{
  font-weight:300;
}
header ul{
  float:right;
  padding:10px 0 0 0;
}

header li{
  float:left;
  list-style-type: none;
  margin-left:30px;
}
header li a{
  text-decoration: none;
  color:inherit;

}

#about{
  font-weight:300;
  width:670px;
  margin:0 auto;
  font-size:20px;
  line-height:35px;
}

#about a{
  text-decoration: none;
  color:inherit;
  font-weight:500;
}

#about p{
  padding-right:0;
  padding-left:10px;
  margin-bottom:35px;
}


footer{
  height:40px;
  width:650px;
  font-size:50px;
  margin:50px auto 0 auto;
  text-align:center;
}
footer a:visited,a{
  color:inherit;
}
footer i{
  margin-right:30px;
}
